<div class="center hero-unit, jumbotron">
  <h1>Welcome to Bloggy</h1>

  <h2>
    Join Us Today and Start Blogging!
  </h2>

  <%= link_to "Sign up!", '#', class: "btn btn-large btn-primary" %>
</div>

<!-- <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %> -->